/*
 * Mark Addinall
 * 98/07/2013
 *
 * This is for Bella
 * Natural.addinall.net
 *
 */


body {
	margin: 0;
	padding: 0;
	background: #DAE2CF url(../images/img01.jpg) repeat-x left top;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #3B3B3B;
}

img {
	margin:10px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 10px 10px 5px #477519;
	-webkit-box-shadow: 10px 10px 5px #477519;
	box-shadow: 10px 10px 5px #477519;
}



h1, h2, h3 {
	margin: 0px;
	padding: 5px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
}

h1 {
	font-size: 2.5em;
	color: #214200;
}

h2 {
	font-size: 2em;
	color: #214200;
}

h3 {
	font-size: 1.6em;
	color: #CCCC00;
}

p, ul, ol {
	margin-top: 5px;
	line-height: 120%;
}


a {
	text-decoration: none;
	color: #4C5C37;
}

a:hover {
	text-decoration: underline;
}


#header-wrapper {
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}


#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 30px 0px;
	text-align: center;
	text-transform: lowercase;
	font-size: 4em;
	font-weight: 400;
	color: #FFF;
}

#logo h1 span {
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFF;
}


#menu-wrapper {
	overflow: hidden;
	height: 56px;
}

#menu {
	width: 1100px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	background: #5D7144;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #6F8651;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	line-height: 55px;
	padding: 0 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover { 
	text-decoration: underline;
}



/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 70px 50px 30px 50px;
	background: #FFFFFF;
}


#content {
	float: left;
	width: 540px;
}

.post {
	margin-bottom: 15px;
}

.post-alt
{
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 28px;
}

.post .title a {
	border: none;
	color: #3D2729;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #6F8651;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width:380px;
	margin: 5px;
	padding: 0px 0px 20px 0px;
	color: #787878;
}

#sidebar p
{
	color: #3B3B3B;
}


#sidebar h3 {
	font-size: 1.4em;
	color: #6F8651;
	border-bottom: 1px solid #CACACA;
	margin: 0;
	padding: 10px 0px;
}



#sidebar h2 {
	padding-bottom: 10px;
	font-size: 1.6em;
	color: #3D2729;
	text-decoration: underline;
}


#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar li {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}


/* Footer */

#footer {
	height: 150px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #748D55 url(../images/img02.png) repeat;
	border-top: 1px solid #A59282;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}


@media screen and (max-width: 980px) {

	#menu {
		width: 90%;
	}

    #page {
		width: 90%;
	}

	#content {
		width: 60%;
		padding: 3% 4%;
	}

	#sidebar {
		width: 30%;
	}
}


@media screen and (max-width: 650px) {

	#content {
		width: auto;
		float: none;
		margin: auto;
	}

	#sidebar {
		width: auto;
		float: none;
		margin: auto;
	}
}



